/* ----- COLORS ----- */

$color-primary: rgb(68, 68, 68); /* black */
$color-secondary: rgba(255, 255, 255, 0.75); /* gray */
$color-accent: rgb(16, 157, 133); /* teal */
$color-subheading: rgb(187, 187, 187); /* light gray */
$color-white: rgb(255, 255, 255); /* white */

$bg-dark: rgb(29, 29, 29); /* dark gray */


/* ----- FONTS ----- */

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;


/* ----- FONT WEIGHT ----- */

$weight-bold: 700;


/* ----- TEXT ----- */

$upper: uppercase;
