/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ----- FONT (WEIGHT) ----- */
.font__bold {
  font-weight: 600; }

.font__reg {
  font-weight: 400; }

.font__light {
  font-weight: 300; }

/* ----- COLORS ----- */
.color__primary {
  color: #b2c4cb; }

.color__primary-alpha {
  color: rgba(178, 196, 203, 0.7); }

.color__primary-dark {
  color: #97afb8; }

.color__secondary {
  color: #f2f2f2; }

.color__gray {
  color: #7d7d7d; }

.color__accent {
  color: #d1c7be; }

.color__accent-hover {
  color: #beb0a3; }

.color__brown {
  color: #9a9087; }

/* ----- CLASSES ----- */
.upper {
  text-transform: uppercase; }

/* ----- UNIVERSAL ----- */
*,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif; }

section {
  padding-top: 20px;
  padding-bottom: 20px; }

img {
  max-width: 100%;
  margin-bottom: 10px; }

h2 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2.5px;
  padding-bottom: 20px; }

h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px; }

p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px; }

button {
  border: none;
  border-raidus: 0;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 5px 10px; }

form {
  padding-top: 24px;
  padding-bottom: 24px; }

.form-control {
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #b2c4cb;
  border-left: none;
  border-radius: 0; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #b2c4cb; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #b2c4cb; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #b2c4cb; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #b2c4cb; }

/* ----- NAVIGATION ----- */
.nav-bar {
  background: #f2f2f2;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 999; }

.container__nav {
  width: 80%; }

.nav-left {
  float: left; }
  .nav-left .nav-link {
    color: #b2c4cb;
    letter-spacing: 3px;
    line-height: 40px;
    padding: 5px; }
    .nav-left .nav-link img {
      background: rgba(178, 196, 203, 0.7);
      height: 100px;
      padding: 10px 20px;
      position: fixed;
      top: 0;
      left: 75px; }
  .nav-left .nav__brand {
    position: fixed;
    left: 175px; }

.nav-right {
  position: fixed;
  right: 75px; }
  .nav-right .nav-link {
    font-size: 12px;
    line-height: 40px;
    padding: 5px; }
    .nav-right .nav-link:hover {
      background: rgba(178, 196, 203, 0.7);
      color: white; }

/* ----- LEFT BAR ----- */
.container__left-bar {
  background: #f2f2f2;
  height: 100vh;
  position: fixed;
  left: 0;
  width: 50px;
  z-index: 999; }
  .container__left-bar .content__left-bar {
    position: fixed;
    bottom: 60px;
    width: 50px; }
    .container__left-bar .content__left-bar ul {
      width: 100%;
      text-align: center; }
      .container__left-bar .content__left-bar ul li {
        font-size: 36px;
        padding-top: 10px; }
        .container__left-bar .content__left-bar ul li a {
          color: #b2c4cb; }
          .container__left-bar .content__left-bar ul li a:hover {
            color: #97afb8;
            transition: 0.3s ease-in-out; }

/* ----- RIGHT BAR ----- */
.container__right-bar {
  background: #f2f2f2;
  height: 100vh;
  position: fixed;
  right: 0;
  width: 50px;
  z-index: 999; }
  .container__right-bar .content__right-bar {
    position: absolute;
    top: 50%;
    transform: rotate(90deg);
    transform-origin: 25px; }
    .container__right-bar .content__right-bar p {
      margin: 0;
      white-space: nowrap; }
      .container__right-bar .content__right-bar p span {
        color: #b2c4cb;
        font-size: 10px; }
        .container__right-bar .content__right-bar p span a:hover {
          color: #beb0a3;
          text-decoration: none;
          transition: 0.3s ease-in-out; }

/* ----- CONTAINER WRAPPER ----- */
.container__wrapper {
  padding: 50px; }
  @media (max-width: 767px) {
    .container__wrapper {
      padding-bottom: 10px; } }

.padding__main-content {
  padding-left: 20px; }
  @media (max-width: 1199px) {
    .padding__main-content {
      padding-left: 0; } }

/* ----- BANNER SECTION ----- */
.section__banner {
  padding-top: 0;
  padding-bottom: 0; }

.container__banner {
  background-image: url("https://mountainsoulyoga.com/wp-content/uploads/2016/04/20161205_MtnSoul_628.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }
  @media (max-width: 767px) {
    .container__banner {
      height: 50vh; } }

/* ----- ABOUT SECTION ----- */
.section__about {
  text-align: center;
  margin: 0 auto; }
  .section__about .align-left {
    text-align: left; }
    @media (max-width: 1199px) {
      .section__about .align-left {
        padding-left: 20px; } }
    @media (max-width: 991px) {
      .section__about .align-left {
        text-align: center;
        padding-left: 30px;
        padding-right: 30px; } }
  .section__about .about__form-input {
    color: #b2c4cb;
    margin: 0 auto;
    width: 50%; }
  .section__about .about__button {
    background: #b2c4cb;
    border-radius: 0;
    color: white;
    display: inline;
    padding: 2px 10px; }
    .section__about .about__button:hover {
      color: #f2f2f2;
      text-decoration: none; }

/* ----- TEACHER TRAINING SECTION ----- */
.section__teacher-training {
  text-align: center;
  margin: 0 auto; }
  @media (max-width: 991px) {
    .section__teacher-training {
      padding-left: 30px;
      padding-right: 30px; } }
  .section__teacher-training a:hover {
    color: #beb0a3;
    text-decoration: none;
    transition: 0.2s ease-in-out; }
  .section__teacher-training .btn__teacher-training {
    background: #b2c4cb;
    border-radius: 0;
    color: white;
    padding: 2px 10px;
    text-decoration: none; }
    .section__teacher-training .btn__teacher-training:hover {
      color: #f2f2f2; }

/* ----- MAIN CONTENT ----- */
.main-content__block-one {
  background-image: url("https://mountainsoulyoga.com/wp-content/uploads/2016/04/20161205_MtnSoul_664-1.jpg"); }

.main-content__block-two {
  background-image: url("https://mountainsoulyoga.com/wp-content/uploads/2018/03/IMG_3907-1.jpg?id=1806"); }

.main-content__block-three {
  background-image: url("https://mountainsoulyoga.com/wp-content/uploads/2016/10/JMA_08192013_JuliaYoga_176.jpg?id=1087"); }

.main-content__block-four {
  background-image: url("https://mountainsoulyoga.com/wp-content/uploads/2016/04/DSC_0658-1.jpg?id=1642"); }

.main-content__block-one,
.main-content__block-two,
.main-content__block-three,
.main-content__block-four {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center; }

.content__block-one,
.content__block-two,
.content__block-three,
.content__block-four {
  padding: 40px 20px; }
  @media (max-width: 991px) {
    .content__block-one,
    .content__block-two,
    .content__block-three,
    .content__block-four {
      padding: 40px 30px; } }

.section__main-content h3 {
  color: white; }

.section__main-content p {
  color: white; }

@media (max-width: 991px) {
  .section__main-content {
    padding-bottom: 0; } }

.section__main-content .main-content__button {
  background: white;
  border: none;
  border-radius: 0;
  color: #b2c4cb;
  font-size: 13px;
  padding: 2px 10px; }
  .section__main-content .main-content__button:hover {
    background: #b2c4cb;
    color: white;
    transition: 0.2s ease-in-out; }

@media (max-width: 1199px) {
  .wrapper__third-col-img {
    margin: 0 auto;
    padding: 0;
    width: 100%; } }

@media (max-width: 1199px) {
  .section__third-col-img {
    padding: 0; } }

.section__third-col-img .container__third-col-img {
  height: 125vh; }
  @media (max-width: 1199px) {
    .section__third-col-img .container__third-col-img {
      height: 50vh; } }

.section__third-col-img .img__third-col-img {
  background-image: url("https://mountainsoulyoga.com/wp-content/uploads/2016/04/20161205_MtnSoul_227.jpg?id=1241");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px; }
  @media (max-width: 1199px) {
    .section__third-col-img .img__third-col-img {
      margin-bottom: 0; } }
  @media (max-width: 991px) {
    .section__third-col-img .img__third-col-img {
      margin-top: 0; } }

/* ----- FOOTER ----- */
.footer__classes-container {
  background: #b2c4cb;
  bottom: 0;
  color: white;
  display: inline-block;
  padding: 15px 75px;
  position: fixed;
  right: 60px;
  z-index: 999; }
  .footer__classes-container a {
    color: white;
    font-size: 16px;
    letter-spacing: 1.5px;
    line-height: 20px;
    text-align: center; }
    .footer__classes-container a:hover {
      color: #97afb8;
      text-decoration: none;
      transition: 0.3s ease-in-out; }
  @media (max-width: 767px) {
    .footer__classes-container {
      position: static;
      width: 100%; } }

.footer__classes {
  display: none;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }
  .footer__classes li {
    padding-bottom: 20px; }
    .footer__classes li p {
      font-size: 12px;
      padding: 0;
      margin: 0; }
    .footer__classes li .btn-classes {
      background: white;
      border-radius: 0;
      color: #b2c4cb;
      font-size: 12px;
      margin-top: 5px;
      padding: 3px 10px; }
      .footer__classes li .btn-classes:hover {
        text-decoration: none; }
  @media (max-width: 767px) {
    .footer__classes {
      display: inline-block;
      width: 100%; } }

.footer {
  background: #f2f2f2;
  bottom: 0;
  height: 50px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 998; }
  .footer .footer__content {
    position: fixed;
    right: 60px; }
  .footer .footer__contact-container {
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 450px; }
    .footer .footer__contact-container ul {
      overflow: hidden; }
      @media (max-width: 900px) {
        .footer .footer__contact-container ul {
          display: none; } }
    .footer .footer__contact-container li {
      color: #b2c4cb;
      float: left;
      font-size: 12px;
      line-height: 40px;
      padding: 5px 10px; }

/* ---------- CLASSES PAGE ---------- */
.nav__classes {
  left: 50px;
  position: fixed;
  text-align: right;
  top: 240px;
  width: 22%;
  width: calc(25% - 50px); }
  .nav__classes li {
    line-height: 20px;
    padding-bottom: 10px; }
    .nav__classes li a {
      color: #d1c7be;
      font-weight: 600; }
      .nav__classes li a:hover {
        color: black;
        text-decoration: underline;
        text-decoration-color: #d1c7be;
        transition: 0.3s ease-in-out; }
  @media (max-width: 767px) {
    .nav__classes {
      display: none; } }

.classes-schedule,
.classes-description {
  color: #7d7d7d;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 4px;
  padding: 100px 0 20px 10px; }
  @media (max-width: 767px) {
    .classes-schedule,
    .classes-description {
      text-align: center; } }

table {
  width: 100%; }
  table thead {
    border-top: 1px solid #b2c4cb;
    border-bottom: 1px solid #b2c4cb;
    color: #b2c4cb;
    font-size: 16px;
    font-weight: 600;
    padding: 10px; }
    table thead th {
      letter-spacing: 0.5px;
      line-height: 20px;
      padding: 10px 0; }
  table tbody {
    color: #7d7d7d; }
    table tbody td {
      letter-spacing: 0.5px;
      line-height: 24px;
      padding: 5px 0;
      width: 25%; }

.schedule__classes {
  padding-left: 10px;
  padding-right: 10px; }

.description__classes {
  color: #7d7d7d;
  padding-left: 10px;
  padding-right: 10px; }
  .description__classes h3 {
    font-size: 24px;
    font-weight: 600; }
  @media (max-width: 767px) {
    .description__classes {
      text-align: center; }
      .description__classes h2 {
        padding-top: 75px; } }

/* ---------- PRICING PAGE ---------- */
.nav__pricing {
  left: 50px;
  position: fixed;
  text-align: right;
  top: 240px;
  width: 22%;
  width: calc(25% - 50px); }
  .nav__pricing li {
    line-height: 20px;
    padding-bottom: 10px; }
    .nav__pricing li a {
      color: #d1c7be;
      font-weight: 600; }
      .nav__pricing li a:hover {
        color: black;
        text-decoration: underline;
        text-decoration-color: #d1c7be;
        transition: 0.3s ease-in-out; }
  @media (max-width: 767px) {
    .nav__pricing {
      display: none; } }

.content__pricing h1 {
  color: #7d7d7d;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 4px;
  padding: 100px 0 20px 10px; }

@media (max-width: 767px) {
  .content__pricing {
    text-align: center; }
    .content__pricing h2 {
      padding-top: 75px; } }

.content__pricing p {
  color: #7d7d7d; }

.content__pricing .teacher-training-link:hover {
  color: #9a9087;
  text-decoration: none; }

.content__pricing h2 {
  color: #b2c4cb; }

.content__pricing h4 {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 10px; }

/* ---------- ABOUT PAGE ---------- */
.about__container h1 {
  color: #7d7d7d;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 4px;
  padding: 100px 0 20px 0; }

.about__intro,
.about__team {
  padding: 0 10px 30px 10px; }
  .about__intro h4,
  .about__team h4 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 20px; }
  .about__intro p,
  .about__team p {
    color: #7d7d7d; }

.about__team {
  text-align: center; }
  .about__team h3 {
    padding: 10px 0; }
  .about__team a {
    font-weight: 600; }
    .about__team a:hover {
      color: #beb0a3;
      text-decoration: none;
      transition: 0.3s ease-in-out; }

.about__employee-container {
  padding-top: 10px;
  padding-bottom: 10px; }

/* ---------- TEACHER TRAININGS PAGE ---------- */
.teacher-trainings__intro {
  padding: 5px 20px; }
  .teacher-trainings__intro h1 {
    color: #7d7d7d;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 4px;
    padding: 100px 0 20px 0; }
  .teacher-trainings__intro h4 {
    color: #7d7d7d;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0 5px 0; }
  .teacher-trainings__intro p {
    padding-bottom: 5px;
    margin: 0; }
  .teacher-trainings__intro a {
    display: block;
    padding-bottom: 20px; }
    .teacher-trainings__intro a:hover {
      color: #beb0a3;
      text-decoration: none;
      transition: 0.3s ease-in-out; }
  .teacher-trainings__intro button {
    background: #b2c4cb;
    color: white;
    display: block;
    font-size: 13px;
    margin: 10px auto; }
    .teacher-trainings__intro button:hover {
      color: #f2f2f2;
      transition: 0.3s ease-in-out; }
  @media (max-width: 767px) {
    .teacher-trainings__intro {
      text-align: center; } }

.teacher-trainings__main {
  margin-bottom: 50px; }

.teacher-trainings__first {
  background: #f2f2f2; }

.teacher-trainings__second {
  background-image: url("https://mountainsoulyoga.com/wp-content/uploads/2017/07/julia_bolster_supta_baddha_konasana.jpg"); }

.teacher-trainings__third {
  background-image: url("https://mountainsoulyoga.com/wp-content/uploads/2017/01/julia-681x1024.jpg"); }

.teacher-trainings__blog-container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding: 50px 20px;
  position: relative; }
  .teacher-trainings__blog-container .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(178, 196, 203, 0.7);
    z-index: 0; }
  .teacher-trainings__blog-container .content {
    position: relative;
    text-align: center;
    z-index: 1; }
    .teacher-trainings__blog-container .content h3 {
      color: white;
      line-height: 30px;
      padding-bottom: 10px; }
    .teacher-trainings__blog-container .content p {
      color: white;
      line-height: 24px; }
  .teacher-trainings__blog-container .teacher-trainings__button {
    background: white;
    color: #b2c4cb;
    font-size: 13px;
    padding: 5px 10px; }
    .teacher-trainings__blog-container .teacher-trainings__button:hover {
      background: #b2c4cb;
      color: white;
      text-decoration: none;
      transition: 0.3s ease-in-out; }

/* ---------- AYURVEDA PAGE ---------- */
.ayurveda__intro {
  padding: 5px 20px; }
  .ayurveda__intro h1 {
    color: #7d7d7d;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 4px;
    padding: 100px 0 20px 0; }
  .ayurveda__intro h4 {
    color: #7d7d7d;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0 5px 0; }
  .ayurveda__intro p {
    color: #7d7d7d;
    padding-bottom: 15px;
    margin: 0; }
  .ayurveda__intro a {
    display: block;
    padding-bottom: 20px; }
    .ayurveda__intro a:hover {
      color: #beb0a3;
      text-decoration: none;
      transition: 0.3s ease-in-out; }
  .ayurveda__intro button {
    background: #b2c4cb;
    color: white;
    display: block;
    font-size: 13px;
    margin: 10px auto; }
    .ayurveda__intro button:hover {
      color: #f2f2f2;
      transition: 0.3s ease-in-out; }
  @media (max-width: 767px) {
    .ayurveda__intro {
      text-align: center; } }

.ayurveda__main {
  margin-bottom: 50px; }

.ayurveda__first {
  background-image: url("https://mountainsoulyoga.com/wp-content/uploads/2017/12/Screen-Shot-2017-12-04-at-10.36.14-AM-1024x621.png"); }

.ayurveda__second {
  background-image: url("https://mountainsoulyoga.com/wp-content/uploads/2017/07/2015072712_JuliaYoga_375-1024x683.jpg"); }

.ayurveda__third {
  background-image: url("https://mountainsoulyoga.com/wp-content/uploads/2017/06/IMG_6097.jpg"); }

.no-padding {
  padding: 0; }

.ayurveda__main-container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding: 50px 20px;
  position: relative; }
  .ayurveda__main-container .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(178, 196, 203, 0.7);
    z-index: 0; }
  .ayurveda__main-container .content {
    position: relative;
    text-align: center;
    z-index: 1; }
    .ayurveda__main-container .content h3 {
      color: white;
      line-height: 30px;
      padding-bottom: 10px; }
    .ayurveda__main-container .content p {
      color: white;
      line-height: 24px; }
  .ayurveda__main-container .ayurveda__button {
    background: white;
    color: #b2c4cb;
    font-size: 13px;
    padding: 5px 10px; }
    .ayurveda__main-container .ayurveda__button:hover {
      background: #b2c4cb;
      color: white;
      text-decoration: none;
      transition: 0.3s ease-in-out; }

/* ---------- EVENTS PAGE ---------- */
@media (max-width: 767px) {
  .events__container {
    padding-bottom: 0; } }

.events__intro {
  padding: 5px 20px; }
  .events__intro h1 {
    color: #7d7d7d;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 4px;
    padding: 100px 0 20px 0; }
  .events__intro p {
    color: #7d7d7d;
    padding-bottom: 15px;
    margin: 0; }
  .events__intro button {
    background: #b2c4cb;
    color: white;
    display: block;
    font-size: 13px;
    margin: 10px auto; }
    .events__intro button:hover {
      color: #f2f2f2;
      transition: 0.3s ease-in-out; }
  @media (max-width: 767px) {
    .events__intro {
      text-align: center; } }

.no-padding {
  padding: 0; }

.first-event {
  background-image: url("https://mountainsoulyoga.com/wp-content/uploads/2018/02/Reiki-1.jpg"); }

.second-event {
  background-image: url("https://mountainsoulyoga.com/wp-content/uploads/2017/11/ayurvedic_doshas_1024x1024.jpg"); }

.third-event {
  background-image: url("https://mountainsoulyoga.com/wp-content/uploads/2017/07/julia_bolster_supta_baddha_konasana.jpg"); }

.fourth-event {
  background-image: url("https://mountainsoulyoga.com/wp-content/uploads/2018/02/2015072712_JuliaYoga_356-683x1024.jpg"); }

.fifth-event {
  background-image: url("https://mountainsoulyoga.com/wp-content/uploads/2018/04/ttu_flyer_store-1024x1024.jpg"); }

.sixth-event {
  background-image: url("https://mountainsoulyoga.com/wp-content/uploads/2016/04/20161205_MtnSoul_227-682x1024.jpg"); }

.events__main {
  padding-top: 50px;
  padding-bottom: 50px; }
  @media (max-width: 767px) {
    .events__main {
      padding-bottom: 0; } }

.event {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding: 20px 10px; }

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(209, 199, 190, 0.5);
  z-index: 0; }

.events__content {
  position: relative;
  text-align: center;
  z-index: 1; }
  .events__content h3 {
    color: white;
    line-height: 30px;
    padding-bottom: 10px; }
  .events__content p {
    color: white;
    line-height: 24px; }
  .events__content .button {
    background: white;
    color: #d1c7be;
    font-size: 13px;
    padding: 5px 10px; }
    .events__content .button:hover {
      background: #d1c7be;
      color: white;
      text-decoration: none;
      transition: 0.3s ease-in-out; }
  @media (max-width: 767px) {
    .events__content {
      padding: 75px 20px; } }

/* ---------- CONTACT PAGE ---------- */
.contact__heading {
  padding: 50px 20px; }
  .contact__heading h1 {
    color: #7d7d7d;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 4px;
    padding: 50px 0 20px 0; }
  .contact__heading p {
    color: #7d7d7d;
    padding: 5px 0;
    margin: 0; }
  .contact__heading .email {
    color: #d1c7be; }

form .name-input,
form .email-input,
form .form-dropdown,
form .form-comments {
  border: none;
  border-bottom: 2px solid #b2c4cb;
  color: #b2c4cb;
  font-size: 14px;
  letter-spacing: 0.75px;
  margin: 10px 0;
  padding: 10px;
  width: 100%; }

form .form-dropdown {
  background: white;
  border-radius: 0; }

form .btn {
  background: #b2c4cb;
  border: none;
  border-radius: 0;
  display: block;
  color: white;
  font-size: 15px;
  margin: 0 auto;
  padding: 5px 10px; }
  form .btn:hover {
    background: #b2c4cb;
    color: #f2f2f2;
    text-decoration: none;
    transition: 0.3s ease-in-out; }

@media (max-width: 767px) {
  .map-container {
    padding: 50px 0; } }

/* ---------- MUSINGS PAGE ---------- */
@media (max-width: 767px) {
  .musings__container {
    padding-bottom: 0; } }

.nav__musings {
  left: 75px;
  position: fixed;
  top: 200px;
  width: 22%;
  width: calc(25% - 50px); }
  .nav__musings h4 {
    border-bottom: 2px solid #d1c7be;
    color: #d1c7be;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    padding: 10px 0; }
  .nav__musings li {
    line-height: 20px;
    padding-bottom: 10px; }
    .nav__musings li a {
      color: #9a9087;
      font-weight: 600; }
      .nav__musings li a:hover {
        color: black;
        text-decoration: underline;
        text-decoration-color: #d1c7be;
        transition: 0.3s ease-in-out; }
  @media (max-width: 767px) {
    .nav__musings {
      display: none; } }

.no-padding {
  padding: 0; }

.first-musings {
  background: white; }

.second-musings {
  background-image: url("https://mountainsoulyoga.com/wp-content/uploads/2017/12/Screen-Shot-2017-12-04-at-10.36.14-AM-1024x621.png"); }

.third-musings {
  background-image: url("https://mountainsoulyoga.com/wp-content/uploads/2017/07/2015072712_JuliaYoga_375-1024x683.jpg"); }

.fourth-musings {
  background-image: url("https://mountainsoulyoga.com/wp-content/uploads/2017/07/julia_bolster_supta_baddha_konasana.jpg"); }

.fifth-musings {
  background-image: url("https://mountainsoulyoga.com/wp-content/uploads/2017/06/IMG_6097.jpg"); }

.sixth-musings {
  background-image: url("https://mountainsoulyoga.com/wp-content/uploads/2017/06/Gina-C-884x1024.jpg"); }

.musings__main {
  padding-top: 50px;
  padding-bottom: 50px; }
  @media (max-width: 767px) {
    .musings__main {
      padding-bottom: 0; } }

.musings {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding: 20px 10px; }

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(178, 196, 203, 0.7);
  z-index: 0; }

.musings__content {
  padding: 15px;
  position: relative;
  text-align: center;
  z-index: 1; }
  .musings__content h3 {
    color: white;
    line-height: 30px;
    padding-bottom: 10px; }
  .musings__content p {
    color: white;
    line-height: 24px; }
  .musings__content .button {
    background: white;
    color: #b2c4cb;
    font-size: 13px;
    padding: 5px 10px; }
    .musings__content .button:hover {
      background: #b2c4cb;
      color: white;
      text-decoration: none;
      transition: 0.3s ease-in-out; }
  @media (max-width: 767px) {
    .musings__content {
      padding: 75px 20px; } }
